@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  color: #fff;
  background: #818cf8;
}

::selection {
  color: #fff;
  background: #818cf8;
}
.stroked {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  color: rgb(177, 177, 177);
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f5f9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5b4fc;
}

#teamsList::-webkit-scrollbar-track,
#teamsList::-webkit-scrollbar-thumb {
  background: transparent;
}
#sheet {
  width: 95vw !important;
  max-width: 95vw !important;
  overflow-y: scroll !important;
}

@media (min-width: 640px) {
  #sheet {
    width: 70vw !important;
    max-width: 70vw !important;
    overflow-y: scroll !important;
  }
}

@media (min-width: 1024px) {
  #sheet {
    width: 30vw !important;
    max-width: 30vw !important;
    overflow-y: scroll !important;
  }
}

@media (min-width: 1280px) {
}
